---
import Layout from '../layouts/Layout.astro';

function scoreToClass(score: number) {
  if (score < 60) {
    return "bg-red-500"
  } else if (score < 70) {
    return "bg-orange-500"
  } else if (score < 80) {
    return "bg-yellow-500"
  } else {
    return "bg-green-500"
  }
}

const {score} = await fetch("http://192.168.0.101/air-data/latest").then(res => res.json());

---
<Layout title="Ihar Trafimovich">
	<main class="flex items-center justify-center h-full w-full">
		<h1 class="text-2xl">{score} <span class={`inline-block w-1.5 h-1.5 rounded-full ${scoreToClass(score)} align-super`} /></h1>
	</main>
</Layout>
