---
import Layout from '../layouts/Layout.astro';
import {prisma} from "../db";

function scoreToClass(score: number) {
  if (score < 60) {
    return "bg-red-500"
  } else if (score < 70) {
    return "bg-orange-500"
  } else if (score < 80) {
    return "bg-yellow-500"
  } else {
    return "bg-green-500"
  }
}

const data = await prisma.awair.findFirst({
  orderBy: {
    time: "desc"
  }
});

const score = data?.score || 0;

---
<Layout title="Ihar Trafimovich">
	<main class="flex items-center justify-center h-full w-full">
		<h1 class="text-2xl">{score} <span class={`inline-block w-1.5 h-1.5 rounded-full ${scoreToClass(score)} align-super`} /></h1>
	</main>
</Layout>
